/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
 
/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0; z-index:1;}
.flexslider .background-over {background: rgba(0, 0, 0, 0.1) url(../img/background-over.png) ;position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0; z-index:4}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; z-index:2;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; z-index:3;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block; position: relative;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; background: #fff; border: 0px solid #fff; position: relative;/*-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); */ zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 44px; height: 44px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { /*left: -50px;*/ }
.flex-direction-nav .flex-next { /*right: -50px;*/ text-align: right; }
.flexslider .flex-prev { opacity: 0.5; left: 50px; }
.flexslider .flex-next { opacity: 0.5; right: 50px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity:1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 30px; line-height:1; display: inline-block; content: '\f001'; background-color: #fff;padding:8px 0px 0px 11px;border-radius: 200px!important;width: 44px;height: 44px;font-weight: 100;opacity: 0.5;}
.flex-direction-nav a.flex-next:before  { content: '\f002'; background-color: #fff;padding:8px 11px 0px 0px;border-radius: 200px!important;font-weight: 100;opacity: 0.5;width: 44px;height: 44px;}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

.flexslider .flex-caption {
    /*position:absolute;
    padding-top:60px;
    text-align:center;
    top: 0px;
    color: #fff;
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    word-spacing: 2px;
    letter-spacing: -2px;
    z-index:5;*/
    position:absolute;
    bottom:0px;
    width: 100%;

	/*background-image: url("../images/bg1.png");
background-position-x: -350px;
background-position-y: 0px;
background-repeat: no-repeat;*/
background: url("../images/bg1.png") -400px 0px no-repeat;
}

    .flexslider .flex-caption h3 a {
   font-size:26px;
   font-weight:500;
     text-transform: uppercase;
      padding: 18px 0px 20px 0px;
    color:#fff;
      letter-spacing: 0px;
  word-spacing: 1px;
  text-align: left ;
  float:right;
  background-color:rgba(0,0,0,0.6);
max-width:360px;
padding:15px 20px 20px 20px;
white-space: normal;
border-radius: 5px 5px 0 0 ;
    
    }
    .flexslider .flex-caption h3 a small
    {
       text-transform:none;
       display: block;
       color:#bbb;
  letter-spacing: 0px;
  word-spacing: 0px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
  line-height:25px;
      margin-bottom: 15px;
	  
    }
    .flexslider .caption-h3 {
  margin-bottom: 20px;
  max-width:1140px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flexslider .flex-caption h3 a small, .flexslider .flex-caption h3 a span
{
text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}
.h2-title-block{
font-size:22px;
margin: 0 0 15px 0;
}
        @media (max-width: 1330px)  {


      .flexslider .flex-caption
    {
        /*background-position-x: -500px!important;*/
		background: url("../images/bg1.png") -500px 0px no-repeat!important;
    }
}

    @media (max-width: 1200px)  {


      .flexslider .flex-caption
    {
        /*background-position-x: -540px!important;*/
		background: url("../images/bg1.png") -540px 0px no-repeat!important;
    }
}

    @media (max-width: 1100px)  {


      .flexslider .flex-caption
    {
        /*background-position-x: -580px!important;*/
		background: url("../images/bg1.png") -580px 0px no-repeat!important;
    }
}
    @media (max-width: 992px)  {

    .flexslider .caption-h3
    {
        max-width:750px;
    }

      .flexslider .flex-caption
    {
        /*background-position-x: -570px!important;*/
		background: url("../images/bg1.png") -570px 0px no-repeat!important;
    }
        .flexslider .flex-caption h3 a
        {
            padding: 18px 0px 20px 15px;
        }
}
@media (max-width: 760px)
{
    .flexslider .flex-caption{
        display:none;
    }
}


/*Slider tin tức*/
.flexslider-post { border: 0px solid #fff; position: relative;/*-webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); */ zoom: 1; }

.flexslider-post .flex-control-nav,
.flexslider-post.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Direction Nav */
.flexslider-post .flex-direction-nav {*height: 0;}
.flexslider-post .flex-direction-nav a  { text-decoration:none; display: block; width: 44px; height: 44px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flexslider-post .flex-direction-nav .flex-prev { left: -40px; }
.flexslider-post .flex-direction-nav .flex-next { right: -40px; text-align: right; }
.flexslider-post:hover .flex-prev { opacity: 0.5; left: -40px; }
.flexslider-post:hover .flex-next { opacity: 0.5; right: -40px; }
.flexslider-post:hover .flex-next:hover, .flexslider-post:hover .flex-prev:hover { opacity:1; }
.flexslider-post .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flexslider-post .flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 30px; line-height:1; display: inline-block; content: '\f001'; background-color: #fff;padding:8px 0px 0px 11px;border-radius: 200px!important;width: 44px;height: 44px;font-weight: 100;opacity: 0.5;}
.flexslider-post .flex-direction-nav a.flex-next:before  { content: '\f002'; background-color: #fff;padding:8px 11px 0px 0px;border-radius: 200px!important;font-weight: 100;opacity: 0.5;width: 44px;height: 44px;}
